<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrador</title>
  <script src="admin.js"></script>
</head>
<body>
  <nav id="menu">
    <button id="crearUsuarioBtn">Crear nuevo usuario</button>
    <button id="eliminarUsuarioBtn">Eliminar usuario</button>
    <button id="verUsuariosBtn">Ver usuarios registrados</button>
    <button id="cerrarSesionBtn">Cerrar sesión</button>
  </nav>
</body>
</html>